// Colors
$color-p: rgb(29, 29, 31);
$color-s: rgb(136, 136, 136);
$color-t: rgb(243, 243, 243);
$just-white: rgb(255, 255, 255);

// fonts
$font: "Poppins", sans-serif;

// Typewriter
$typewriterSpeed: 3s;
$typewriterCharacters: 40;

// Font-size
$title-h1: 6.4rem;
$title-span: 3.2rem;
$subtitle-h2: 4.4rem;
$p-light: 2rem;
$p: 1.6rem;
$p-link: 1.5rem;

//Animations
$bar-delay: 7s;

// MIXINS

// BreakPoints
$breakpoints: (
  medium: 990px,
  large: 1023px,
  xlarge: 1440px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
// Flex Box
@mixin flexbox($justify, $align, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
