@use "../variables" as v;

/* Main Header code */

header {
  position: fixed;
  width: 100%;
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(11px) saturate(184%);
  -webkit-backdrop-filter: blur(11px) saturate(184%);

  /* Dark Mode header */

  body.dark-theme & {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  /* Navbar code */

  .navbar {
    @include v.flexbox(space-between, center, nowrap);
    padding: 2rem 2rem;

    /* 
    
    Breakpoints Screens 
    Default: mobile
    Medium: 990px
    Large : 1023px

    */

    @include v.breakpoint(medium) {
      padding: 3rem 7rem;
    }
    @include v.breakpoint(large) {
      padding: 2rem 10rem;
    }

    &__logo {
      @include v.flexbox(space-between, center, nowrap);
      z-index: 30;
    }

    &__img {
      background-image: url("../assets/images/logo.png");
      width: 1.8rem;
      height: 3rem;
      margin-right: 1rem;
      transition: all 0.5s ease;
      &:hover {
        background-image: url("../assets/images/logo-color.png");
      }

      /* Dark Mode Logo */

      body.dark-theme & {
        background-image: url("../assets/images/logo-color.png");
      }
    }

    &__text {
      font-size: 1.6rem;
      color: v.$color-p;

      /* Dark Mode Logo Text */

      body.dark-theme & {
        color: v.$just-white;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      left: 150%;
      width: 100%;
      height: 100vh;
      z-index: 29;
      background-color: v.$just-white;
      padding-top: 15rem;
      transition: 0.4s;
      list-style: none;

      /* Dark Mode Menu Lista */

      body.dark-theme & {
        background-color: transparent;
      }

      /* Breakpoints Screens */

      @include v.breakpoint(large) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        align-items: center;
        left: 0;
        position: relative;
        width: auto;
        background: transparent;
        height: auto;
        padding-top: 0;
        top: auto;
      }
    }
    .is-active {
      left: 0;
    }
    &__item {
      margin-bottom: 1.8rem;

      @include v.breakpoint(medium) {
        display: flex;
        margin-bottom: 0;
        &:nth-child(1),
        &:nth-child(2) {
          margin-right: 3rem;
        }
      }
    }

    &__link {
      color: v.$color-p;
      font-size: 2rem;

      @include v.breakpoint(medium) {
        font-size: 1.5rem;
      }

      /* Dark Mode link navbar */

      body.dark-theme & {
        color: v.$just-white;
      }
    }

    &__last {
      @include v.flexbox(space-between, center, nowrap);
    }

    &__language {
      @include v.flexbox(space-between, center, nowrap);
      list-style: none;
      display: none;
      @include v.breakpoint(large) {
        display: flex;
      }
    }

    .language__separator {
      display: inline-block;
      border-left: 1px solid v.$color-p;
      margin: 0 10px;
      height: 1.2rem;
      body.dark-theme & {
        border-left: 1px solid v.$just-white;
      }
    }

    &__hamburger {
      width: 30px;
      cursor: pointer;
      z-index: 100;

      @include v.breakpoint(large) {
        display: none;
      }
    }

    /* Start Hamburger button */

    &__hamburger span {
      width: 100%;
      height: 3px;
      display: block;
      background: rgb(000, 000, 000);
      transition: all 0.2s;
      border-radius: 20px;
      z-index: 400;
      body.dark-theme & {
        background: rgb(255, 255, 255);
      }
    }

    .stuffing {
      margin: 6px 0;
      z-index: 400;
    }

    .top-bun.active {
      transform: rotate(35deg) translateX(12px) translateY(-3px);
      width: 50%;
    }

    .stuffing.active {
      width: 80%;
      transform: translateX(3px);
    }

    .bottom-bun.active {
      transform: rotate(-35deg) translateX(12px) translateY(3px);
      width: 50%;
    }

    /* End Hamburger button */

    .active-items {
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(11px) saturate(184%);
      -webkit-backdrop-filter: blur(11px) saturate(184%);
      width: 100%;
      position: absolute;
      left: 0;
      top: 7.5rem;
      display: flex;
      list-style: none;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      transition: 0.5s ease all;
    }

    /* Start Switch Dark Mode */

    .switch {
      background-color: v.$color-s;
      border: none;
      position: relative;
      cursor: pointer;
      margin-left: 2rem;
      display: none;
      outline: none;
      &::after {
        content: "";
        display: block;
        width: 2.7rem;
        height: 1.8rem;
        position: absolute;
        background-color: v.$just-white;
        top: 0.3rem;
        left: 0.3rem;
        right: unset;
        transition: 1s ease all;
        box-sizing: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
      }
      &.active {
        background-color: #9c22ffb4;
        &::after {
          right: 0.3rem;
          left: unset;
        }
      }
      span {
        width: 3rem;
        height: 2.5rem;
        line-height: 2.5rem;
        display: block;
        background-color: none;
        color: v.$color-t;
      }

      /* End Switch Darkmode */

      @include v.breakpoint(large) {
        display: flex;
      }
    }

    /* Start Underline effect links navbar */

    .underline {
      position: relative;
    }

    .underline::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: v.$color-s;
      transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
      .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }

    /* End underline */
  }
  .switch__icon {
    width: 3rem;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    background-color: none;
    color: v.$color-t;
  }
}
